<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="http://www.rpiai.com.com/movies">
<meta property="og:site_name" content="Movie Lists">
<meta property="og:description" content="{{ page.description }}">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    {% if site.bootswatch-theme %}
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/{{ site.bootswatch-theme }}/bootstrap.min.css" rel="stylesheet">
    {% else %}
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">
    {% endif %}


    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
    <![endif]-->

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">



  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="recent.html">Great recent</a></li>
            <li><a href="unknown.html">Great unknown</a></li>
            <li><a href="critics_overrate.html">Critically overrated</a></li>
            <li><a href="critics_underrate.html">Critically underrated</a></li>
            <li><a href="imdb_hates_rt_loves.html">RT overrated</a></li>
            <li><a href="worst.html">The worst</a></li>
            <li><a href="analysis.html">Analysis</a></li>
            <!--{% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}-->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
      <hr>
      <footer>
        
        
        
        
        
        
          
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<center>
<div class="row">
<div class="col-lg-12 visible-lg visible-md">


<!-- Google leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="7446374452"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>
<div class="col-sm-12 visible-sm visible-xs">


<!-- Mobile banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="8923107653"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
</div>
</center>


        
        
        
        
        <p>
          &copy; Last updated August 30th, 2015. As seen from <a href="https://www.reddit.com/r/movies/comments/3ivqgj/i_combined_rotten_tomatoes_and_imdb_ratings_to/">Reddit.</a>
          <span class="pull-right text-muted">
            powered by
            <a href="http://dbtek.github.io/jekyll-bootstrap-3" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll-Bootstrap-3</a>
            and <a href="http://bootswatch.com" target="_blank">Bootswatch</a>
          </span>
        </p>
      </footer>
    </div>

    {% include JB/analytics %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="assets/js/jquery.peity.js"> </script>
    <script src="assets/js/jquery.lazyload.js"> </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
$(".bar").peity("bar", {
  fill: ["red", "green", "blue","white"],
  height: 50,
  width: 30
})
$(function() {
    $("img.lazy").lazyload();
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2345677-6', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
